﻿@page
@model TaskRulePrep.Pages.PersonModel
@{
    ViewData["Title"] = "Person";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/navbarstyle.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/style.css" />
<h1>@Model.Mess</h1>
<form method="post">
    <label for="name">Name</label><br />
    <input type="text" name="namee" id="namee" /><br /><br />
    <label for="age">age</label><br />
    <input type="number" name="age" id="age" /><br />
    <input type="submit" value="Send" />
</form>


<div class="navbar navbar-dark"/>
    <form action="/" method="post">
        <ul class="navbar-nav back" >
            <input type="submit" class="btn btn-outline-primary" name="name" value="butt" />
            <input type="text" class="form-text" name="nam" value="" />
            <input type="button" name="ndsame" class="btn btn-primary" value="sdsd" />
        </ul>



    </form>
</div>
