﻿.back{
    text-align:end;
    background-color: black;
    background-position-x: center;
    border-width: 20px;
    height:600px;
    border-style: solid;
    border-color: black;
    min-height:150%;
    border-image: url(..lib/tr_b.jpg);
}
