﻿.mynav {
    padding-top: 40px;
    margin-top:35px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 0;
    background-color: #3a3f4c;
    opacity: 1;
    overflow-x: hidden;
    padding-top: 60px;
}
.mynav a {
    display: block;
    padding : 34px 13px;
    font-size : 25px;
    text-decoration: none;
    color: #7977e6;
}
.mynav a:hover{
    color: #ffffff;
    transition: 0.4s;
}
.mynav .close {
    position: absolute;
    top: 0;
    right: -10px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a{
    color: #000000;
    font-size: 36px;
}
#content {
    padding: 20px;
    transition: margin-left 0.2s;
    overflow: hidden;
    width: 100%;
}
.card.draggable {
    margin-bottom: 1rem;
    cursor: grab;
}

.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 1rem;
}
body {
  
    margin: 0;
    padding: 0;
}

#myKanban {
    overflow-x: auto;
    padding: 20px 0;
}

.success {
    background: #00B961;
    color: #fff
}

.info {
    background: #2A92BF;
    color: #fff
}

.warning {
    background: #F4CE46;
    color: #fff
}

.error {
    background: #FB7D44;
    color: #fff
}


#myKanban {
    overflow-x: auto;
    padding: 20px 0;
}

.success {
    background: #00B961;
    color: #fff
}

.info {
    background: #2A92BF;
    color: #fff
}

.warning {
    background: #F4CE46;
    color: #fff
}

.error {
    background: #FB7D44;
    color: #fff
}

/*navbar*/
