﻿@page
@model TaskRulePrep.Pages.MyPage.canbanModel
@{
    ViewData["Title"] = "canban";
}

<!DOCTYPE html>
<html>
<head>
    <title>multikanban - a simple kanban for multiple personal projects</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="A simple kanban for multiple personal projects.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" media="screen" href="/multikanban/app/styles/styles.css" type="text/css" />
    <link rel="icon" href="multikanban.ico" type="image/x-icon">
</head>

<body>
    <div id="content">

    </div>

    <script data-main="/multikanban/app/scripts/main.js" src="/multikanban/app/scripts/vendor/requirejs/require.js"></script>

</body>
</html>


