﻿@page
@model TaskRulePrep.Pages.MyPage.NavbarModel
@{
    ViewData["Title"] = "Navbar";
}

<html xmlns="http://www.w3.org/1999/xhtml" class="navhtml">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    @*<link rel="stylesheet" href="~/css/navbarstyle.css" />*@
    <link rel="stylesheet" href="~/js/canban.js" />
    
</head>
<body class="navbody">
    
    <nav class="menu-activea">
        <h1>Navbar</h1>
        <ul>
            <li>Home</li>
            <li>Gallery</li>
            <li>Team</li>
            <li>Service</li>
            <li>Work</li>
        </ul>
    </nav>
    <main>
        <section>
            <br><br><br>
            <h1>&larr;Diagonal shaped nav</h1>

            <br>
            <p>
                ewfkbfefgyhegfieeiuhfuhuhweifhifeuifuihuehfiuhfweiuf
                fewfuhfeuhfewhfuhfweufhuewufhufweuhfuhf
                feufhfewuhfeufheufhweuhfeufheuhfhweufhewufhewufhweufewufw
                ffjwufhufhufhufheuhfeufheufe
                fuhfewufheufhufhuhfuewf
                huwhfuhfeuhfufh
                hfufhewufheuf
            </p>
            <p>
                ewfkbfefgyhegfieeiuhfuhuhweifhifeuifuihuehfiuhfweiuf
                fewfuhfeuhfewhfuhfweufhuewufhufweuhfuhf
                feufhfewuhfeufheufhweuhfeufheuhfhweufhewufhewufhweufewufw
                ffjwufhufhufhufheuhfeufheufe
                fuhfewufheufhufhuhfuewf
                huwhfuhfeuhfufh
                hfufhewufheuf
            </p>

        </section>
    </main>
</body>

</html>
